<%- include('./partials/head')%>
<% let allPlayers = [...data1.team1Players, ...data1.team2Players] %>

<header>
  <img id="logo" src="/public/pics/ultitvlogo.png" alt="">
  <div class="info-game">
    <div class="flag-home-team">
      <img src="./pics/icons8-netherlands-96.png" alt="">
    </div>
    <div class="scored-points">
      <p><%=data2.team1Score %>-<%=data2.team2Score%></p>
    </div>
    <div class="flag-away-team">
      <img src="./pics/icons8-australia-96.png" alt="">
    </div>
  </div>

  <aside>
    <div class="buttons">
      <button id="goal">Goals</button>
      <button id="assist">Assists</button>
      <button id="block">Blocks</button>
      <button id="turnover">Turnovers</button>
      <!-- <button id="add-player">Add-players</button> -->
      <a href="newPlayer">NewPlayer</a>
    </div>

    <div class="popup">
      <form id="goal-input" action="" method="post">
        <fieldset>Goal</fieldset>
        <label for="goals">Team-A</label>
        <input type="radio" name="prefix" id="prefix" placeholder="..." value="" />
        <label for="goals">Team-B</label>
        <input type="radio" name="prefix" id="prefix" placeholder="..." value="" />
        <input type="submit" value="Goal">
      </form>
    </div>
  </aside>
</header>

<main>
  <div class="teams-total">
    <div class="team-scored-left">
      <table cellspacing="0" cellpadding="0">
        <thead>
          <tr>
            <th>Pass</th>
            <th>Turn</th>
            <th>O/D</th>
          </tr>
        </thead>
        <tbody>
          <%# Point item team 1 %>
          <tr class="score-info-team-1">
            <% data2.scoredPoints.forEach(point => { %>
          </tr>
          <tr class="score-info-team-1 <%= (point.scored===point.team1Name) ? 'green' : 'red' %>">
            <td><%= point.team1Passes %></td>
            <td><%= point.team1Turnovers %></td>
            <td><%= point.team1OorD %></td>
          </tr>
            <% }) %>
        </tbody>
      </table>
    </div>

    <div class="score-every-point">
      <%  data2.scoredPoints.forEach(points => { %>
        <p><%= /* points.team1Score %>-<%= points.team2Score  */%></p>
      <% }) %> 

    </div>
    
    <div class="team-scored-right">
      <table cellspacing="0" cellpadding="0">
        <thead>
          <tr>
            <th>Pass</th>
            <th>Turn</th>
            <th>O/D</th>
          </tr>
        </thead>
        <tbody>
          <tr class="score-info-team-2">
            <% data2.scoredPoints.forEach(point => { %>
          </tr>
          <tr class="score-info-team-2 <%= (point.scored===point.team2Name) ? 'green' : 'red' %>">
            <td><%= point.team2Passes %></td>
            <td><%= point.team2Turnovers %></td>
            <td><%= point.team2OorD %></td>
          </tr>
            <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</main>

<footer id="footer">
  <div class="teamplayers-left">
    <% data4.players.forEach(players => { %>
      <button class="players">
        <%= players.name %>
        <%=players.jerseyNumber%>
      </button>
    <% }) %>
  </div>
  
  <div class="players-scored">
    <h3>Scored players</h3>
    <% data2.scoredPoints.forEach(scored => { %>
      <% allPlayers.forEach(player => {%>
        <% if(scored.scoredBy === player.playerId){ %>
          <% if(scored.scored === scored.team1Name) { %>
            <p><%= player.name %> <span><%= scored.team1Name %></span></p>
          <% } else { %>
            <p id="pretend-team"><%= player.name %> <span><%= scored.team2Name %></span></p>
          <% } %>
        <% } %> 
      <% }) %>
    <%}) %>
  
  </div>
  <div class="teamplayers-right">
    <% data4.players.forEach(players => { %>
      <button class="players">
        <%= players.name %>
        <%=players.jerseyNumber%>
      </button>
    <% }) %>
  </div>
</footer>

<%-include('./partials/foot') %>
